$temp-units-width: 32px;
$temp-units-height: 32px;
$temp-units-background-color: #000000a6;
$temp-units-color: #fff;

$search-max-width: 950px;
$search-max-height: 250px;
$search-options-font-size: 20px;
$search-options-hover-background-color: #80808034;

$weather-card-font-size: 20px;
$weather-card-color: #363636;
$weather-card-background-color: #6494ed28;

$weather-card-text-info-font-size: 24px;

$current-weather-icon-svg-width: 80px;
$current-weather-icon-svg-height: 80px;

$weather-card-temp-info-font-size: 60px;

$tabs-nav-btn-background-color: transparent;
$tabs-nav-btn-font-size: 16px;
$tabs-nav-btn-color: #363636;
$tabs-nav-btn-active-font-weight: 500;
$tabs-nav-btn-active-background-color: #0000ff38;

$tabs-content-item-title-background-color: #3ecdf50c;
$tabs-content-item-title-font-size: 23px;
$tabs-content-item-title-font-weight: 700;
$tabs-content-item-title-color: #4b0082;

$tabs-content-item-title-icon-width: 35px;
$tabs-content-item-title-icon-height: 35px;

$tabs-content-item-info-font-size: 18px;
$tabs-content-item-info-font-style: italic;

$tabs-content-item-border-color: #00000017;