* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  // background-color: #20b2ab3c;
}

input, button {
  font-family: 'Roboto Mono', sans-serif;
}