@use 'variables';

.inputForm {
	position: relative;
	margin: 50px 0 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.loader {
	position: absolute;
	top: 12px;
	left: -25px;
	width: 24px;
	height: 24px;
}

.tempUnits {
	position: absolute;
	top: 4px;
	right: 107px;
	z-index: 5;
	width: variables.$temp-units-width;
	height: variables.$temp-units-height;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: variables.$temp-units-background-color;
	font-size: 22px;
	color: variables.$temp-units-color;
	border-radius: 5px;
	transition: .2s;
	cursor: pointer;

	&:hover {
		transform: scale(1.1);
	}
	&:active {
		transform: scale(0.9);
	}
}