@use 'variables';

.search {
	width: variables.$search-width;
	height: variables.$search-height;
	overflow-y: auto;
	background-color: variables.$search-options-background-color;
	border-radius: 6px;
}

.options {
	border-bottom: 1px solid #000;
	padding: 8px 5px;
	transition: .3s;
	font-size: variables.$search-options-font-size;
	cursor: pointer;

	&:hover {
		background-color: variables.$search-options-hover-background-color;
	}
}