.tabs {
	
}

.tabsNav {

}

.tabsNavBtn {
	padding: 5px;
	cursor: pointer;
}

.tabsNavBtnActive {
	padding: 5px;
	font-weight: 700;
}

.tabsContent {
	
}

.tabsContentItem {
	display: none;
}

.tabsContentItemActive {
	display: block;
	display: flex;
	gap: 10px;
}