@use 'variables';

.tabs {
	
}

.tabsNav {
	display: flex;
	justify-content: space-evenly;
	gap: 6px;
}

.tabsNavBtn {
	padding: 10px;
	background-color: variables.$tabs-nav-btn-background-color;
	font-size: variables.$tabs-nav-btn-font-size;
	color: variables.$tabs-nav-btn-color;
	border: 2px solid black;
	border-radius: 5px;
	cursor: pointer;
}

.tabsNavBtnActive {
	@extend .tabsNavBtn;
	font-weight: variables.$tabs-nav-btn-active-font-weight;
	font-size: variables.$tabs-nav-btn-active-font-size;
	background-color: variables.$tabs-nav-btn-active-background-color;
}

.tabsContent {
	
	& div table {
		width: 100%;
		text-align: center;
	}
}

.tabsContentItem {
	display: none;
}

.tabsContentItemActive {
	display: block;
	gap: 10px;
}

.tabsContentItemTitle {
	padding-left: 15px;
	padding-right: 15px;
	background-color: variables.$tabs-content-item-title-background-color;
	font-size: variables.$tabs-content-item-title-font-size;
	font-weight: variables.$tabs-content-item-title-font-weight;
	color: variables.$tabs-content-item-title-color;
	border: 1px solid #000;

	& span {
		margin-left: 4px;
	}
}

.tabsContentItemTitleIcon {
	width: variables.$tabs-content-item-title-icon-width;
	height: variables.$tabs-content-item-title-icon-height;
	margin-right: 10px;
}

.tabsContentItemTitlePositioning {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tabsContentItemInfo {
	border-bottom: 1px solid #000;
	font-size: variables.$tabs-content-item-info-font-size;
	font-style: variables.$tabs-content-item-info-font-style;
}

.tabsContentItemInfo:last-child {
	border-right: 1px solid #000;
}