.tabs {
	
}

.tabsNav {

}

.tabsNavBtn {
	padding: 11px;
	cursor: pointer;
}

.tabsNavBtnActive {
	@extend .tabsNavBtn;
	font-weight: 700;
}

.tabsContent {
	
	& div table {
		border: 1px solid black;
		width: 100%;
		text-align: center;
	}
}

.tabsContentItem {
	display: none;
}

.tabsContentItemActive {
	display: block;
	gap: 10px;
}