.weatherCard {
	position: absolute;
	bottom: 35%;
	transform: translateX(-50%, 50%);
	border: 1px solid black;
	border-radius: 8px;
	width: 620px;
	padding: 20px;

	font-size: 20px;
	display: flex;
	justify-content: space-between;
}

.weatherCard__textInfo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 8px;
}

.weatherCard__tempInfo {
	font-size: 56px;
}