@use 'variables';

.weatherCard {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	border: 2px solid #000;
	border-radius: 0 0 8px 8px;
	font-size: variables.$weather-card-font-size;
	box-shadow: 0 0 2px #000;
	background-color: variables.$weather-card-background-color;
	color: variables.$weather-card-color;
}

.weatherCardTextInfo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 8px;
	font-size: variables.$weather-card-text-info-font-size;
}

.currentWeatherIcon svg {
	width: variables.$current-weather-icon-svg-width;
	height: variables.$current-weather-icon-svg-height;
}

.weatherCardTempInfo {
	font-size: variables.$weather-card-temp-info-font-size;
}

.moreDetails {
	display: flex;
	justify-content: flex-end;

	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}